  body, html {
  font-family: "News Cycle", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'News Cycle', sans-serif;
  font-weight: 300;
}

*.dignity {
  font-family: 'News Cycle', sans-serif;
  font-weight: 300;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.page-container {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(#000, .12);
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

md-toolbar {
  position: sticky;
  top: 1px;
}

.md-content {
  padding: 16px;
}

.card-expansion {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}

.material-icons, .fa {
  vertical-align: middle !important;
}
.md-primary {
  background-color: blue-grey;
}
.container {
  margin-top: -7vh;
}


i, .material-icons {
  vertical-align: middle;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-84 { font-size: 84px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
